# 嘉沃资管量化研究员笔试题

注意事项：
1. 请独立完成题目,严禁使用外部插件如chatgpt【一经发现,笔试成绩作废! 】
2. 整套题目回答时间为1小时,共计7道题，每道题基础分值为10分，满分100分【部分题目根据回答情况会有加分项，但请合理安排时间！】
3. 回答问题的编程语言统一使用Python3,可以调用第三方库来解答问题
4. 笔试题目在该jupyter notebook中规定位置作答，可以在【Ans】与下一题题干之间根据自身编程习惯插入代码块及文字补充说明
5. 完成题目时允许参考书籍或网络资料，但请不要照搬代码
6. 作答完成后，通过邮件提交该notebook文件：命名格式为：提交日期+姓名.ipynb

### 1. 将以下python语句用一行python命令改写，要求输出内容一致

In [1]:
lst = []

i = 2000
while i <= 3200:
    if i%7 == 0:
        if i%5 != 0: 
            lst.append(i)
    i = i + 1
        
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### 【Ans】1

In [1]:
[i for i in range(2000, 3201) if i%7 == 0 and i%5 != 0 ]

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

### 2. 计算从 0-9 中选出三个不重复数字能排成的三位数个数。打印所有排列出的三位数，并计算其中能被6整除的数据个数。

### 【Ans】2

In [4]:
numlist=[i for i in range(100,1000) if (str(i)[0] != str(i)[2])&(str(i)[0] != str(i)[1])&(str(i)[1] != str(i)[2])]
print(len(numlist),numlist)
listdiv6=[j for j in numlist if j%6 == 0]
print(len(listdiv6))

648 [102, 103, 104, 105, 106, 107, 108, 109, 120, 123, 124, 125, 126, 127, 128, 129, 130, 132, 134, 135, 136, 137, 138, 139, 140, 142, 143, 145, 146, 147, 148, 149, 150, 152, 153, 154, 156, 157, 158, 159, 160, 162, 163, 164, 165, 167, 168, 169, 170, 172, 173, 174, 175, 176, 178, 179, 180, 182, 183, 184, 185, 186, 187, 189, 190, 192, 193, 194, 195, 196, 197, 198, 201, 203, 204, 205, 206, 207, 208, 209, 210, 213, 214, 215, 216, 217, 218, 219, 230, 231, 234, 235, 236, 237, 238, 239, 240, 241, 243, 245, 246, 247, 248, 249, 250, 251, 253, 254, 256, 257, 258, 259, 260, 261, 263, 264, 265, 267, 268, 269, 270, 271, 273, 274, 275, 276, 278, 279, 280, 281, 283, 284, 285, 286, 287, 289, 290, 291, 293, 294, 295, 296, 297, 298, 301, 302, 304, 305, 306, 307, 308, 309, 310, 312, 314, 315, 316, 317, 318, 319, 320, 321, 324, 325, 326, 327, 328, 329, 340, 341, 342, 345, 346, 347, 348, 349, 350, 351, 352, 354, 356, 357, 358, 359, 360, 361, 362, 364, 365, 367, 368, 369, 370, 371, 372, 374, 375, 376, 378, 379, 380, 381, 382, 384, 385, 386, 387, 389, 390, 391, 392, 394, 395, 396, 397, 398, 401, 402, 403, 405, 406, 407, 408, 409, 410, 412, 413, 415, 416, 417, 418, 419, 420, 421, 423, 425, 426, 427, 428, 429, 430, 431, 432, 435, 436, 437, 438, 439, 450, 451, 452, 453, 456, 457, 458, 459, 460, 461, 462, 463, 465, 467, 468, 469, 470, 471, 472, 473, 475, 476, 478, 479, 480, 481, 482, 483, 485, 486, 487, 489, 490, 491, 492, 493, 495, 496, 497, 498, 501, 502, 503, 504, 506, 507, 508, 509, 510, 512, 513, 514, 516, 517, 518, 519, 520, 521, 523, 524, 526, 527, 528, 529, 530, 531, 532, 534, 536, 537, 538, 539, 540, 541, 542, 543, 546, 547, 548, 549, 560, 561, 562, 563, 564, 567, 568, 569, 570, 571, 572, 573, 574, 576, 578, 579, 580, 581, 582, 583, 584, 586, 587, 589, 590, 591, 592, 593, 594, 596, 597, 598, 601, 602, 603, 604, 605, 607, 608, 609, 610, 612, 613, 614, 615, 617, 618, 619, 620, 621, 623, 624, 625, 627, 628, 629, 630, 631, 632, 634, 635, 637, 638, 639, 640, 641, 642, 643, 645, 647, 648, 649, 650, 651, 652, 653, 654, 657, 658, 659, 670, 671, 672, 673, 674, 675, 678, 679, 680, 681, 682, 683, 684, 685, 687, 689, 690, 691, 692, 693, 694, 695, 697, 698, 701, 702, 703, 704, 705, 706, 708, 709, 710, 712, 713, 714, 715, 716, 718, 719, 720, 721, 723, 724, 725, 726, 728, 729, 730, 731, 732, 734, 735, 736, 738, 739, 740, 741, 742, 743, 745, 746, 748, 749, 750, 751, 752, 753, 754, 756, 758, 759, 760, 761, 762, 763, 764, 765, 768, 769, 780, 781, 782, 783, 784, 785, 786, 789, 790, 791, 792, 793, 794, 795, 796, 798, 801, 802, 803, 804, 805, 806, 807, 809, 810, 812, 813, 814, 815, 816, 817, 819, 820, 821, 823, 824, 825, 826, 827, 829, 830, 831, 832, 834, 835, 836, 837, 839, 840, 841, 842, 843, 845, 846, 847, 849, 850, 851, 852, 853, 854, 856, 857, 859, 860, 861, 862, 863, 864, 865, 867, 869, 870, 871, 872, 873, 874, 875, 876, 879, 890, 891, 892, 893, 894, 895, 896, 897, 901, 902, 903, 904, 905, 906, 907, 908, 910, 912, 913, 914, 915, 916, 917, 918, 920, 921, 923, 924, 925, 926, 927, 928, 930, 931, 932, 934, 935, 936, 937, 938, 940, 941, 942, 943, 945, 946, 947, 948, 950, 951, 952, 953, 954, 956, 957, 958, 960, 961, 962, 963, 964, 965, 967, 968, 970, 971, 972, 973, 974, 975, 976, 978, 980, 981, 982, 983, 984, 985, 986, 987]
115

### 3.构造一个函数，实现以下功能：返回斐波那契数列中第n项的值

### 【Ans】3

In [2]:
def func3(n):
    
    # special case n = 0,1,2
    if n <= 0:
        return None
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    
    # general case n >= 3
    else:
        a, b = 0, 1
        for i in range(3, n+1):
            a, b = b, a + b
            
    return b

### 4. 对于任意正序(从小到大）数组m和n，返回其合并后数组的中位数，不得使用外部模块。
#### E.g.: m = [1,2], n = [3,4] 
####          func4(m,n) =  (2+3)/2 = 2.5

### 【Ans】4

In [6]:
def func4(m,n):
    
    newlist = sorted(m + n)
    length = len(newlist)

    if length % 2 == 0:
        median = (newlist[length // 2 - 1] + newlist[length // 2]) / 2
    else:
        median = newlist[(length - 1) // 2]
   
    return median

In [7]:
m = [1,2]
n = [3,4] 
func4(m,n)

2.5

### 5. 定义函数func5，使其能够拟合OLS模型并根据参合系数返回拟数/残差/截距项。
#### 要求：
#### - 允许输入的x, y内含有nan。
#### - E.g.: x = [1,2,3,np.nan], y=[2,4,6,8]
#### - 除pandas, numpy 外不依赖任何其他外部模块

### 【Ans】5

In [4]:
import numpy as np
import pandas as pd

def func5(x, y, results='resid'):
    # Remove rows with NaN values

    mask = np.logical_and(~np.isnan(x), ~np.isnan(y))
    x_clean = x[mask]
    y_clean = y[mask]
    
    # Add intercept term 
    X = np.column_stack((np.ones(len(x_clean)), x_clean))
    
    # Calculate OLS coefficients
    beta = np.linalg.inv(X.T @ X) @ X.T @ y_clean
    
    # Calculate fitted values
    y_hat = X @ beta
    
    # Calculate residuals
    resid = y_clean - y_hat
    
    if results == 'coefficients':
        return beta
    elif results == 'fitted':
        return y_hat
    elif results == 'resid':
        return resid
    else:
        return None

### 6. 运行下面的python语句，close_price为股票日度收盘价模拟数据。
#### 6.1 试计算股票每日收益率
#### 6.2 过去3日收益率的移动波动率
#### 6.3 收益率和波动率(turnover)的截面相关系数。（第三问中缺失值以上一日结果填充）

In [32]:
import pandas as pd
import numpy as np

np.random.seed(0)

close_price = pd.DataFrame({
    "stock":['A', 'B', 'C', 'A', 'B','C','A','C','A','B','C','A','B','C','D','D','D','D','A','B','C','D'],
    "date":['20210104','20210104','20210104','20210102','20210102','20210102',
            '20210103', '20210103', '20210101','20210101','20210101',
            '20210105','20210105','20210105','20210102','20210103','20210104','20210105', 
            '20210106', '20210106', '20210106','20210106'],
    "close_price":np.random.normal(10,1,22)})

turnover = pd.DataFrame({
    "stock":['A'] * 6 + ['B'] * 6 + ['C'] * 6 + ['D'] * 6,
    "date":pd.date_range('20210101',periods=6, freq='D').to_list() * 4,
    "turnover":np.random.uniform(0,1,24)
})

In [33]:
close_price1 = close_price.groupby('stock').apply(lambda x: x.sort_values('date', ascending=True)).reset_index(drop=True)
close_price1['daily_return'] = close_price1.groupby('stock')['close_price'].pct_change()
print(close_price1)

   stock      date  close_price  daily_return
0      A  20210101     9.896781           NaN
1      A  20210102    12.240893      0.236856
2      A  20210103    10.950088     -0.105450
3      A  20210104    11.764052      0.074334
4      A  20210105    11.454274     -0.026333
5      A  20210106    10.313068     -0.099631
6      B  20210101    10.410599           NaN
7      B  20210102    11.867558      0.139950
8      B  20210104    10.400157     -0.123648
9      B  20210105    10.761038      0.034700
10     B  20210106     9.145904     -0.150091
11     C  20210101    10.144044           NaN
12     C  20210102     9.022722     -0.110540
13     C  20210103     9.848643      0.091538
14     C  20210104    10.978738      0.114746
15     C  20210105    10.121675     -0.078066
16     C  20210106     7.447010     -0.264251
17     D  20210102    10.443863           NaN
18     D  20210103    10.333674     -0.010551
19     D  20210104    11.494079      0.112294
20     D  20210105     9.794842     -0.147836
21     D  20210106    10.653619      0.087676

C:\Users\reiyi\AppData\Local\Temp\ipykernel_8776\3783568819.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  close_price1 = close_price.groupby('stock').apply(lambda x: x.sort_values('date', ascending=True)).reset_index(drop=True)

In [40]:
close_price1['return_3_vol'] = np.array(close_price1.groupby('stock')['daily_return'].rolling(window=3).std())
print(close_price1)

   stock      date  close_price  daily_return  return_3_vol
0      A  20210101     9.896781           NaN           NaN
1      A  20210102    12.240893      0.236856           NaN
2      A  20210103    10.950088     -0.105450           NaN
3      A  20210104    11.764052      0.074334      0.171226
4      A  20210105    11.454274     -0.026333      0.090107
5      A  20210106    10.313068     -0.099631      0.087341
6      B  20210101    10.410599           NaN           NaN
7      B  20210102    11.867558      0.139950           NaN
8      B  20210104    10.400157     -0.123648           NaN
9      B  20210105    10.761038      0.034700      0.132687
10     B  20210106     9.145904     -0.150091      0.099934
11     C  20210101    10.144044           NaN           NaN
12     C  20210102     9.022722     -0.110540           NaN
13     C  20210103     9.848643      0.091538           NaN
14     C  20210104    10.978738      0.114746      0.123914
15     C  20210105    10.121675     -0.078066      0.105262
16     C  20210106     7.447010     -0.264251      0.189508
17     D  20210102    10.443863           NaN           NaN
18     D  20210103    10.333674     -0.010551           NaN
19     D  20210104    11.494079      0.112294           NaN
20     D  20210105     9.794842     -0.147836      0.130131
21     D  20210106    10.653619      0.087676      0.143608

In [50]:
close_price1['date'] = pd.to_datetime(close_price1['date'])
close_price1['return_3_vol']=close_price1['return_3_vol'].fillna(method='ffill')
newdata = pd.merge(close_price1, turnover, on=['stock', 'date'], how='left')
newdata

C:\Users\reiyi\AppData\Local\Temp\ipykernel_8776\1225986315.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  close_price1['return_3_vol']=close_price1['return_3_vol'].fillna(method='ffill')

   stock       date  close_price  daily_return  return_3_vol  turnover
0      A 2021-01-01     9.896781           NaN           NaN  0.264556
1      A 2021-01-02    12.240893      0.236856           NaN  0.774234
2      A 2021-01-03    10.950088     -0.105450           NaN  0.456150
3      A 2021-01-04    11.764052      0.074334      0.171226  0.568434
4      A 2021-01-05    11.454274     -0.026333      0.090107  0.018790
5      A 2021-01-06    10.313068     -0.099631      0.087341  0.617635
6      B 2021-01-01    10.410599           NaN      0.087341  0.612096
7      B 2021-01-02    11.867558      0.139950      0.087341  0.616934
8      B 2021-01-04    10.400157     -0.123648      0.087341  0.681820
9      B 2021-01-05    10.761038      0.034700      0.132687  0.359508
10     B 2021-01-06     9.145904     -0.150091      0.099934  0.437032
11     C 2021-01-01    10.144044           NaN      0.099934  0.697631
12     C 2021-01-02     9.022722     -0.110540      0.099934  0.060225
13     C 2021-01-03     9.848643      0.091538      0.099934  0.666767
14     C 2021-01-04    10.978738      0.114746      0.123914  0.670638
15     C 2021-01-05    10.121675     -0.078066      0.105262  0.210383
16     C 2021-01-06     7.447010     -0.264251      0.189508  0.128926
17     D 2021-01-02    10.443863           NaN      0.189508  0.363711
18     D 2021-01-03    10.333674     -0.010551      0.189508  0.570197
19     D 2021-01-04    11.494079      0.112294      0.189508  0.438602
20     D 2021-01-05     9.794842     -0.147836      0.130131  0.988374
21     D 2021-01-06    10.653619      0.087676      0.143608  0.102045

In [51]:

correlation = newdata.groupby('date').apply(lambda x: x['turnover'].corr(x['return_3_vol']))
correlation

C:\Users\reiyi\AppData\Local\Temp\ipykernel_8776\1946992795.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlation = newdata.groupby('date').apply(lambda x: x['turnover'].corr(x['return_3_vol']))

date
2021-01-01    1.000000
2021-01-02   -0.061153
2021-01-03   -1.000000
2021-01-04   -0.911553
2021-01-05    0.757168
2021-01-06   -0.881390
dtype: float64

### 7.提供一个格式为pd.Series的价格序列，计算最大回撤和次大回撤（注意两者时间区间不能有重叠），以及两者的开始和结束时间【要求算法复杂度尽可能低，较低的复杂度有加分】

In [6]:
# 可以用给出的series来测试函数
np.random.seed(1000)
series = pd.Series(np.random.rand(300)+1,index = pd.date_range(end = '12/31/2018', periods = 300))
series.head()

2018-03-07    1.653590
2018-03-08    1.115007
2018-03-09    1.950283
2018-03-10    1.482191
2018-03-11    1.872475
Freq: D, dtype: float64

In [ ]:
import pandas as pd

def calculate_drawdown(series):
    max_drawdown = 0
    second_max_drawdown = 0
    max_drawdown_start = None
    max_drawdown_end = None
    second_max_drawdown_start = None
    second_max_drawdown_end = None
    
    max_price = series[0]
    
    for i in range(1, len(series)):
        price = series[i]
        
        if price > max_price:
            max_price = price
        
        drawdown = (max_price - price) / max_price * 100
        
        if drawdown > max_drawdown:
            second_max_drawdown = max_drawdown
            second_max_drawdown_start = max_drawdown_start
            second_max_drawdown_end = max_drawdown_end
            
            max_drawdown = drawdown
            max_drawdown_start = series.index[i-1]
            max_drawdown_end = series.index[i]
        
        elif drawdown > second_max_drawdown:
            second_max_drawdown = drawdown
            second_max_drawdown_start = series.index[i-1]
            second_max_drawdown_end = series.index[i]
    
    return max_drawdown, second_max_drawdown, max_drawdown_start, max_drawdown_end, second_max_drawdown_start, second_max_drawdown_end

In [21]:
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.random(10))
df1.T.to_csv(r"C:\Users\Lenovo\Desktop\df1.csv",mode="a",header=False)